Repository Pronutrir/AppPronutrirCompany: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, eslint, stylelint, spelling, markdown-link-check

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-push:
  parallel: true
  commands:
    test:
      run: yarn test
#    packages-audit:
#      run: yarn audit
      
pre-commit:
  parallel: true
  commands:
    type-check:
      glob: '*.{ts,tsx}'
      run: yarn typecheck
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn lint:eslint:fix {staged_files}
    stylelint:
      glob: '*.{js,ts,jsx,tsx}' # For CSS-in-JS
      run: yarn lint:style {staged_files}
    spelling:
      glob: '*.{js,ts,jsx,tsx,md}'
      run: yarn cspell {staged_files}
    markdown-link-check:
      glob: '*.md'
      run: npx markdown-link-check {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

selected unidade/perfil authTeste
  src/components/Cards/cardConsultasGerais.tsx
  src/pages/dashBoard/style.ts
  src/pages/evolucao/evolucaoEnfermagem/historyEvolucao.tsx
  src/pages/sinaisVitais/acompanhateSinaisVitais/acompanhateSinaisVitais.tsx
  src/pages/sinaisVitais/components/cardAlertaPesoPaciente/cardAlertaPesoPaciente.tsx
  src/pages/sinaisVitais/components/cardConsultasComponent/cardConsultasComponent.tsx
  src/pages/sinaisVitais/components/cardConsultasGerais/cardConsultasGerais.tsx
  src/pages/sinaisVitais/components/cardConsultasQTComponent/cardConsultasQTComponent.tsx
  src/pages/sinaisVitais/endSinaisVitais.tsx
  src/pages/sinaisVitais/historySinaisVitais/historySinaisVitais.tsx
  src/pages/sinaisVitais/updateSinaisVitais/updateSinais.tsx
  src/pages/sinaisVitais/updateSinaisVitaisEnfermagem/updateSinaisVitaisEnfermagem.tsx
  src/services/refreshToken.ts
Due: type-check, eslint, stylelint, spelling

correção filter sinais vitais
  ios/Podfile
  ios/Podfile.lock
  src/hooks/useSinaisVitais.tsx
  src/pages/dashBoard/dashBoard.tsx
  src/pages/sinaisVitais/endSinaisVitais.tsx
  src/pages/sinaisVitais/updateSinaisVitais/updateSinais.tsx
  src/routes/routeDashboard.tsx
Due: type-check, eslint, stylelint, spelling

exames
  src/assets/svg/exam.svg
  src/assets/svg/exame.svg
  src/components/menuPopUp/menuPopUp.tsx
  src/components/seachBar/searchBarPerson.tsx
  src/components/seachBar/style.ts
  src/components/searchBarBottom/searchBarBottom.tsx
  src/components/searchBarBottom/style.ts
  src/hooks/useExames.tsx
  src/pages/dashBoard/dashBoard.tsx
  src/pages/exame/components/cardStatusExamesComponent/cardStatusExamesComponent.tsx
  src/pages/exame/exame.tsx
  src/pages/exame/exameDetalhes/exameDetalhes.tsx
  src/pages/sinaisVitais/consultasSinaisVitais/consultasSinaisVitais.tsx
  src/pages/sinaisVitais/sinaisVItaisGerais/sinaisVitaisGerais.tsx
  src/routes/routeDashboard.tsx
  src/theme/colors.ts
Due: type-check, eslint, stylelint, spelling

update react native 0.67.0
  .flowconfig
  .gitattributes
  .vscode/settings.json
  Gemfile
  Gemfile.lock
  _bundle/config
  _ruby-version
  android/app/build.gradle
  android/app/src/main/res/drawable/rn_edit_text_material.xml
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.properties
  ios/Podfile.lock
  package.json
  yarn.lock
Due: none

Revert "update react native 0.67.0"
  .flowconfig
  .gitattributes
  .vscode/settings.json
  Gemfile
  Gemfile.lock
  _bundle/config
  _ruby-version
  android/app/build.gradle
  android/app/src/main/res/drawable/rn_edit_text_material.xml
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.properties
  ios/Podfile.lock
  package.json
  yarn.lock
Due: none

exames
  android/app/build.gradle
  custom.d.ts
  ios/AppPronutrirCompany.xcodeproj/xcshareddata/xcschemes/AppPronutrirCompany.xcscheme
  ios/Podfile.lock
  metro.config.js
  package.json
  src/assets/svg/exame.svg
  src/assets/svg/exameIcon.svg
  src/components/image-zoom/imageZoom.tsx
  src/components/menuPopUp/menuPopUp.tsx
  src/components/renderItem/renderFooter.tsx
  src/components/renderItem/renderItemEmpty.tsx
  src/components/svgComponents/ExameSvg.tsx
  src/hooks/useExames.tsx
  src/hooks/useGetImagesFirebase.tsx
  src/pages/exame/components/cardExame/cardExames.tsx
  src/pages/exame/components/cardStatusExamesComponent/cardStatusExamesComponent.tsx
  src/pages/exame/exame.tsx
  src/pages/exame/exameDetalhes/exameDetalhes.tsx
  src/pages/exame/exameImg/exameImg.tsx
  src/pages/exame/examePdf/examePdf.tsx
  src/pages/sinaisVitais/acompanhateSinaisVitais/acompanhateSinaisVitais.tsx
  src/pages/sinaisVitais/sinaisVitais.tsx
  src/routes/routeBottom.tsx
  src/routes/routeDashboard.tsx
  src/services/api.js
  yarn.lock
Due: type-check, eslint, stylelint, spelling

page exame filtros exames
  src/components/renderItem/renderItemEmpty.tsx
  src/components/seachBar/searchBarPerson.tsx
  src/hooks/useExames.tsx
  src/pages/exame/components/cardExame/cardExames.tsx
  src/pages/exame/exame.tsx
  src/pages/exame/exameDetalhes/exameDetalhes.tsx
  src/pages/exame/exameImg/exameImg.tsx
  src/pages/exame/examePdf/examePdf.tsx
  src/routes/index.tsx
  src/routes/routeDashboard.tsx
Due: type-check, eslint, stylelint, spelling

page exames update status/observation
  src/components/Cards/cardlObservacao.tsx
  src/components/Notification/NotificationMultOptions.tsx
  src/hooks/useExames.tsx
  src/pages/exame/exameDetalhes/exameDetalhes.tsx
  src/pages/exame/exameImg/exameImg.tsx
  src/pages/exame/examePdf/examePdf.tsx
  src/pages/sinaisVitais/updateSinaisVitais/updateSinais.tsx
  src/routes/routeDashboard.tsx
Due: type-check, eslint, stylelint, spelling

page exames update status/observation
  src/components/Modais/ModalInstagram.tsx
  src/components/menuPopUp/menuPopUp.tsx
  src/pages/exame/exame.tsx
  src/pages/exame/exameDetalhes/exameDetalhes.tsx
Due: type-check, eslint, stylelint, spelling

page exames update status/observation
  src/pages/exame/exame.tsx
Due: type-check, eslint, stylelint, spelling

page exames update status/observation
  src/hooks/useExames.tsx
  src/pages/exame/exame.tsx
  src/pages/exame/exameDetalhes/exameDetalhes.tsx
Due: type-check, eslint, stylelint, spelling

call center integration
  .eslintrc.json
  src/components/Modais/ModalCentralizedOptions.tsx
  src/components/checkbox/checkbox.tsx
  src/contexts/sinaisVitaisContext.tsx
  src/hooks/useAgendaQt.tsx
  src/hooks/usePainelAtendimento.tsx
  src/pages/sinaisVitais/components/cardConsultasGerais/cardConsultasGerais.tsx
  src/pages/sinaisVitais/components/cardConsultasQTComponent/cardConsultasQTComponent.tsx
  src/pages/sinaisVitais/oncologiaSinaisVitais/oncologiaSinaisVitais.tsx
  src/pages/sinaisVitais/updateSinaisVitais/updateSinais.tsx
  src/routes/routeDashboard.tsx
  src/services/api-atendimento.ts
  src/services/api.js
  src/services/apiInterageMedicamentos.ts
Due: type-check, eslint, stylelint, spelling

painel atendimento
  .github/workflows/cd.yml
  src/hooks/usePainelAtendimento.tsx
  src/reducers/ConsultasReducer.ts
Due: type-check, eslint, stylelint, spelling

update react-native version 66 > 67
  .editorconfig
  .flowconfig
  .gitattributes
  Gemfile
  Gemfile.lock
  _bundle/config
  _ruby-version
  android/app/build.gradle
  android/app/src/main/res/drawable/rn_edit_text_material.xml
  android/app/src/main/res/values/styles.xml
  android/build.gradle
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.properties
  package.json
  yarn.lock
Due: none

checkMark initial Tratament
  package-lock.json
  package.json
  src/components/check/CheckMarkComponent.tsx
  src/hooks/useAgendaQt.tsx
  src/pages/sinaisVitais/components/cardConsultasQTComponent/cardConsultasQTComponent.tsx
  src/pages/sinaisVitais/components/checkSinaisVitaisComponent/checkSinaisVitaisComponent.tsx
  src/pages/sinaisVitais/historySinaisVitais/historySinaisVitais.tsx
  src/pages/sinaisVitais/updateSinaisVitaisEnfermagem/updateSinaisVitaisEnfermagem.tsx
  src/services/api.js
  yarn.lock
Due: type-check, eslint, stylelint, spelling

react-native 0.67.0 > 0.67.5
  .bundle/config
  .ruby-version
  Gemfile.lock
  ios/AppPronutrirCompany.xcworkspace/contents.xcworkspacedata
  package.json
  yarn.lock
Due: none

react-native 0.67.5 > 0.68.0
  .flowconfig
  .gitignore
  .prettierrc.js
  Gemfile.lock
  android/app/build.gradle
  android/app/src/debug/AndroidManifest.xml
  android/app/src/debug/java/com/apppronutrircompany/ReactNativeFlipper.java
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/apppronutrircompany/MainActivity.java
  android/app/src/main/java/com/apppronutrircompany/MainApplication.java
  android/app/src/main/java/com/apppronutrircompany/newarchitecture/MainApplicationReactNativeHost.java
  android/app/src/main/java/com/apppronutrircompany/newarchitecture/components/MainComponentsRegistry.java
  android/app/src/main/java/com/apppronutrircompany/newarchitecture/modules/MainApplicationTurboModuleManagerDelegate.java
  android/app/src/main/jni/Android.mk
  android/app/src/main/jni/MainApplicationModuleProvider.cpp
  android/app/src/main/jni/MainApplicationModuleProvider.h
  android/app/src/main/jni/MainApplicationTurboModuleManagerDelegate.cpp
  android/app/src/main/jni/MainApplicationTurboModuleManagerDelegate.h
  android/app/src/main/jni/MainComponentsRegistry.cpp
  android/app/src/main/jni/MainComponentsRegistry.h
  android/app/src/main/jni/OnLoad.cpp
  android/build.gradle
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/settings.gradle
  package.json
  src/services/api.js
  yarn.lock
Due: eslint, stylelint, spelling

react-native 0.67.5 > 0.68.0
  ios/AppPronutrirCompany.xcodeproj/project.pbxproj
  ios/AppPronutrirCompany.xcworkspace/contents.xcworkspacedata
  ios/AppPronutrirCompany/AppDelegate.m
  ios/AppPronutrirCompany/AppDelegate.mm
  ios/AppPronutrirCompany/main.m
  ios/AppPronutrirCompanyTests/AppPronutrirCompanyTests.m
  ios/Podfile
  ios/Podfile.lock
Due: none

refactory layout camera perfil
  src/componentes/MyCalendar.js
  src/components/visaoPassword.tsx
  src/pages/cameraPerson/cameraPerson.js
  src/pages/cameraPerson/style.js
Due: type-check, eslint, stylelint, spelling

refactory layout camera perfil
  src/components/Loading/ActiveIndicator.tsx
  src/components/Notification/NotificationInfor.tsx
  src/components/TouchableShowHide/TouchableShowHide.tsx
  src/components/image-zoom/imageZoom.tsx
  src/components/searchBarBottom/searchBarBottom.tsx
  src/components/shimmerPlaceHolder/shimerPlaceHolderSelected.tsx
  src/components/svgComponents/ExameSvg.tsx
  src/components/visaoPassword.tsx
  src/hooks/useAgendaQt.tsx
Due: type-check, eslint, stylelint, spelling

initial tratament - end tratament alta - progress
  src/contexts/auth.tsx
  src/hooks/useAgendaQt.tsx
  src/hooks/useAtendimento.tsx
  src/hooks/useEstabelecimentos.tsx
  src/hooks/useEvolucao.tsx
  src/pages/dashBoard/dashBoard.tsx
  src/pages/exame/exame.tsx
  src/pages/sinaisVitais/components/cardConsultasQTComponent/cardConsultasQTComponent.tsx
  src/pages/sinaisVitais/oncologiaSinaisVitais/style.ts
  src/pages/sinaisVitais/updateSinaisVitais/updateSinais.tsx
  src/pages/tratamento_quimio/components/cardTratamentoAptos.tsx
  src/pages/tratamento_quimio/components/listaTratamentoAptos.tsx
  src/pages/tratamento_quimio/style.ts
  src/pages/tratamento_quimio/tratamento_quimio.tsx
  src/routes/routeDashboard.tsx
  src/services/api.js
Due: type-check, eslint, stylelint, spelling

atendimento paciente check - init - end
  src/components/check/CheckMarkComponent.tsx
  src/components/svgComponents/checkMarkSvg.tsx
  src/components/svgComponents/checkMarkSvgEnd.tsx
  src/contexts/sinaisVitaisContext.tsx
  src/hooks/useAtendimento.tsx
  src/pages/dashBoard/dashBoard.tsx
  src/pages/evolucao/evolucaoEnfermagem/historyEvolucao.tsx
  src/pages/sinaisVitais/components/cardConsultasGerais/cardConsultasGerais.tsx
  src/pages/sinaisVitais/components/cardConsultasQTComponent/cardConsultasQTComponent.tsx
  src/pages/sinaisVitais/updateSinaisVitais/updateSinais.tsx
  src/pages/tratamento_quimio/components/cardTratamentoAptos.tsx
  src/pages/tratamento_quimio/components/listaTratamentoAptos.tsx
  src/pages/tratamento_quimio/style.ts
  src/pages/tratamento_quimio/tratamento_quimio.tsx
  src/services/api.js
Due: type-check, eslint, stylelint, spelling

page tratamento filtro
  src/components/header/HeaderDashBoard.tsx
  src/pages/dashBoard/dashBoard.tsx
  src/pages/tratamento_quimio/components/listaTratamentoAptos.tsx
  src/pages/tratamento_quimio/tratamento_quimio.tsx
  src/routes/routeDashboard.tsx
  src/services/api.js
  src/services/apiAuth.ts
  src/services/refreshToken.ts
Due: type-check, eslint, stylelint, spelling

page tratamento medicação
  src/components/svgComponents/checkMarkMedical.tsx
  src/hooks/useAtendimento.tsx
  src/pages/tratamento_quimio/components/cardTratamentoAptos.tsx
  src/pages/tratamento_quimio/components/listaTratamentoAptos.tsx
  src/services/api.js
Due: type-check, eslint, stylelint, spelling

page tratamento medicação
  src/services/api.js
Due: eslint, stylelint, spelling

refactory filter atendimentos pela propriedade DT_REAL - automatização liberação quimio
  src/components/svgComponents/checkMarkMedical.tsx
  src/components/svgComponents/checkMarkSvg.tsx
  src/components/svgComponents/checkMarkSvgEnd.tsx
  src/hooks/useAtendimento.tsx
  src/pages/tratamento_quimio/components/cardTratamentoAptos.tsx
  src/pages/tratamento_quimio/components/listaTratamentoAptos.tsx
  src/services/api.js
Due: type-check, eslint, stylelint, spelling

add propriedade ds_acomodação
  src/components/menuPopUp/menuPopUp.tsx
  src/hooks/useAtendimento.tsx
  src/pages/sinaisVitais/sinaisVItaisGerais/sinaisVitaisGerais.tsx
  src/pages/tratamento_quimio/components/cardTratamentoAptos.tsx
  src/services/api.js
Due: type-check, eslint, stylelint, spelling

filtro tratamento por nome paciente
  .vscode/settings.json
  src/componentes/Carousel_text.js
  src/components/Cards/cardlObservacao.tsx
  src/components/seachBarPerson/searchBarPerson.tsx
  src/components/seachBarPerson/style.ts
  src/components/visaoPassword.tsx
  src/pages/sinaisVitais/oncologiaSinaisVitais/oncologiaSinaisVitais.tsx
  src/pages/sinaisVitais/oncologiaSinaisVitais/style.ts
  src/pages/sinaisVitais/sinaisVItaisGerais/sinaisVitaisGerais.tsx
  src/pages/sinaisVitais/updateSinaisVitais/updateSinais.tsx
  src/pages/tratamento_quimio/components/listaTratamentoAptos.tsx
  src/services/validacoes.js
Due: type-check, eslint, stylelint, spelling

filtro tratamento por nome paciente
  src/components/visaoPassword.tsx
Due: type-check, eslint, stylelint, spelling

iniciar pré-qt
  src/hooks/useAtendimento.tsx
  src/pages/tratamento_quimio/components/cardTratamentoAptos.tsx
  src/pages/tratamento_quimio/components/listaTratamentoAptos.tsx
  src/services/api.js
Due: type-check, eslint, stylelint, spelling

refactory inicio tratamento e fim de tratamento vinculado a liberação e alta paciente
  src/hooks/useAtendimento.tsx
  src/hooks/useFamiliar.tsx
  src/hooks/usePainelAtendimento.tsx
  src/hooks/useSinaisVitais.tsx
  src/pages/tratamento_quimio/components/listaTratamentoAptos.tsx
  src/services/api.js
Due: type-check, eslint, stylelint, spelling

refactory inicio tratamento e fim de tratamento vinculado a liberação e alta paciente
  src/pages/tratamento_quimio/components/listaTratamentoAptos.tsx
Due: type-check, eslint, stylelint, spelling

.
  src/pages/tratamento_quimio/components/listaTratamentoAptos.tsx
Due: type-check, eslint, stylelint, spelling

firebase cd update
  .github/workflows/cd.yml
Due: none

refactory sinais vitais acolhimento
  .vscode/launch.json
  src/components/Slider/SlideRanger.tsx
  src/components/buttons/BtnCentered.tsx
  src/components/shimmerPlaceHolder/shimmerPaceHolderSNMG.tsx
  src/pages/sinaisVitais/components/cardConsultasGerais/cardConsultasGerais.tsx
  src/pages/sinaisVitais/components/cardConsultasQTComponent/cardConsultasQTComponent.tsx
  src/pages/sinaisVitais/components/cardOptionsSinaisVitais/OptionAntropometria.tsx
  src/pages/sinaisVitais/components/cardOptionsSinaisVitais/OptionMonitorizacaoGeral.tsx
  src/pages/sinaisVitais/components/cardOptionsSinaisVitais/OptionRegistroDor.tsx
  src/pages/sinaisVitais/components/cardOptionsSinaisVitais/OptionSinaisVitais.tsx
  src/pages/sinaisVitais/components/escalaDorComponent/escalaDorComponent.tsx
  src/pages/sinaisVitais/components/filterConsultasComponent/filterConsultasComponent.tsx
  src/pages/sinaisVitais/endSinaisVitais.tsx
  src/pages/sinaisVitais/sinaisVItaisGerais/style.ts
  src/pages/sinaisVitais/updateSinaisVitais/style.ts
  src/pages/sinaisVitais/updateSinaisVitais/updateSinais.tsx
  src/routes/routeDashboard.tsx
Due: type-check, eslint, stylelint, spelling

refactory sinais-vitais acolhimento
  src/pages/sinaisVitais/components/cardOptionsSinaisVitais/OptionAntropometria.tsx
  src/pages/sinaisVitais/components/cardOptionsSinaisVitais/OptionRegistroDor.tsx
  src/pages/sinaisVitais/components/cardOptionsSinaisVitais/OptionSinaisVitais.tsx
  src/pages/sinaisVitais/updateSinaisVitais/style.ts
  src/pages/sinaisVitais/updateSinaisVitais/updateSinais.tsx
Due: type-check, eslint, stylelint, spelling

correção update sinais vitais prop peso
  src/components/searchBarBottom/searchBarBottom.tsx
  src/pages/sinaisVitais/updateSinaisVitais/updateSinais.tsx
Due: type-check, eslint, stylelint, spelling

painel de senhas
  .hintrc
  .vscode/.react/debuggerWorker.js
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/apppronutrircompany/MainApplication.java
  android/settings.gradle
  ios/AppPronutrirCompany/Info.plist
  package-lock.json
  package.json
  src/assets/imagens/logaBase64.js
  src/assets/imagens/logoBackgroud(2).png
  src/assets/svg/atendimento.svg
  src/assets/svg/printer.svg
  src/components/Cards/CardSimples.tsx
  src/components/ripple/PressableRipple.tsx
  src/hooks/useAtendimento.tsx
  src/hooks/usePainelSenha.tsx
  src/pages/PainelSenha/painelSenha.tsx
  src/pages/PainelSenha/painelSenhaOptions/painelSenhaOptions.tsx
  src/pages/PrintBluetooth/ItemList.tsx
  src/pages/PrintBluetooth/PrintBluetooth.tsx
  src/pages/PrintBluetooth/SamplePrint.tsx
  src/pages/PrintBluetooth/styles.tsx
  src/pages/dashBoard/dashBoard.tsx
  src/pages/evolucao/evolucaoEnfermagem/historyEvolucao.tsx
  src/pages/sinaisVitais/acompanhateSinaisVitais/acompanhateSinaisVitais.tsx
  src/pages/sinaisVitais/components/cardConsultasQTComponent/cardConsultasQTComponent.tsx
  src/pages/sinaisVitais/updateSinaisVitais/updateSinais.tsx
  src/routes/routeDashboard.tsx
  src/services/api.js
  yarn.lock
Due: type-check, eslint, stylelint, spelling

painel de senhas
  src/pages/sinaisVitais/components/cardConsultasQTComponent/cardConsultasQTComponent.tsx
Due: type-check, eslint, stylelint, spelling

config device bluetooth
  .vscode/.react/debuggerWorker.js
  package.json
  src/components/selectedDropdown/SelectedDropdown.tsx
  src/components/selectedDropdown/SelectedDropdownOptions.tsx
  src/contexts/printBluetoothContext.tsx
  src/hooks/usePainelSenha.tsx
  src/index.tsx
  src/pages/PainelSenha/painelSenha.tsx
  src/pages/PrintBluetooth/ItemList.tsx
  src/pages/PrintBluetooth/PrintBluetooth.tsx
  src/pages/PrintBluetooth/SamplePrint.tsx
  src/pages/PrintBluetooth/styles.tsx
  src/pages/sinaisVitais/components/cardConsultasQTComponent/cardConsultasQTComponent.tsx
  src/pages/sinaisVitais/oncologiaSinaisVitais/oncologiaSinaisVitais.tsx
  src/pages/sinaisVitais/sinaisVitais.tsx
  src/services/api.js
  src/utils.ts
  yarn.lock
Due: type-check, eslint, stylelint, spelling
