Repository Pronutrir/AppPronutrirCompany: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, eslint, stylelint, spelling, markdown-link-check

type-check:
  run: yarn typecheck

eslint:
  run: yarn lint:eslint:fix {staged_files}

stylelint:
  run: yarn lint:style {staged_files}

spelling:
  run: yarn cspell {staged_files}

markdown-link-check:
  run: npx markdown-link-check {staged_files}

add lefthook tests
  lefthook.yml
Due: none

add lefthook tests
  .github/workflows/ci.yml
  lefthook.yml
Due: none

add lefthook tests
  package.json
  yarn.lock
Due: none

add lefthook tests
  .eslintignore
  .eslintrc.js
  .eslintrc.json
  custom.d.ts
  lefthook.yml
  package-lock.json
  package.json
  src/components/Cards/CardSimples.tsx
  src/components/IncrementDecrement.tsx
  src/components/Loading/Loading.tsx
  src/components/Loading/LoadingBall.tsx
  src/components/Modais/ModalBottom.tsx
  src/components/Modais/ModalBottomInfor.tsx
  src/components/Modais/ModalCentralize.tsx
  src/components/Modais/ModalCentralizedOptions.tsx
  src/components/Modais/ModalInstagram.tsx
  src/components/Notification/NotificationMultOptions.tsx
  src/components/Slider/SlideRanger.tsx
  src/components/menuPopUp/menuPopUp.tsx
  src/contexts/auth.tsx
  src/contexts/sinaisVitaisContext.tsx
  src/hooks/useThemedStyles.tsx
  src/index.tsx
  src/pages/dashBoard/dashBoard.tsx
  src/pages/sinaisVitais/components/cardConsultasGerais/cardConsultasGerais.tsx
  src/pages/sinaisVitais/components/escalaDorComponent/escalaDorComponent.tsx
  src/pages/sinaisVitais/components/filterConsultasComponent/filterConsultasComponent.tsx
  src/pages/sinaisVitais/components/filterPFGerais/filterPFGerais.tsx
  src/pages/sinaisVitais/endSinaisVitais.tsx
  src/pages/sinaisVitais/historySinaisVitais/historySinaisVitais.tsx
  src/pages/sinaisVitais/sinaisVItaisGerais/sinaisVitaisGerais.tsx
  src/pages/sinaisVitais/updateSinaisVitaisEnfermagem/updateSinaisVitaisEnfermagem.tsx
  src/reducers/ConsultasReducer.ts
  src/routes/routeBottom.tsx
  src/utils.ts
  yarn.lock
Due: type-check, eslint, stylelint, spelling

GitActions WebHook
  .github/workflows/notifyActions.yml
Due: none

GitActions WebHook
  .github/workflows/notifyActions.yml
  src/pages/sinaisVitais/sinaisVItaisGerais/sinaisVitaisGerais.tsx
Due: type-check, eslint, stylelint, spelling

GitActions WebHook
  .github/workflows/cd.yml
Due: none

Correção Sinais vitais - History
  .github/workflows/cd.yml
  src/pages/sinaisVitais/updateSinaisVitais/updateSinais.tsx
  src/pages/sinaisVitais/updateSinaisVitaisEnfermagem/updateSinaisVitaisEnfermagem.tsx
  src/reducers/ConsultasReducer.ts
Due: type-check, eslint, stylelint, spelling

adicionado sinais vitais enfermagem
  src/assets/svg/.maisPontos.svg.icloud
Due: none

adicionado sinais vitais enfermagem
  .github/workflows/cd.yml
Due: none

teste
  .github/workflows/cd.yml
Due: none

ajustes
  .github/workflows/cd.yml
Due: none

history sinais vitais
  .vscode/.react 3/debuggerWorker.js
Due: eslint, stylelint, spelling

develop distribution
  .github/workflows/cd.yml
Due: none

develop distribution
  src/services/api.js
Due: eslint, stylelint, spelling

alertas sinais vitais - headerDasborad - colorsFill Img
  src/components/Cards/CardSimples.tsx
  src/components/Modais/ListAlertas.tsx
  src/components/Modais/ModalAlertPaciente.tsx
  src/components/Modais/ModalBottom.tsx
  src/components/Notification/NotificationAlert.tsx
  src/components/buttons/BackButton.tsx
  src/components/header/HeaderDashBoard.tsx
  src/contexts/sinaisVitaisContext.tsx
  src/pages/dashBoard/components/btnDashboardComponent/btnDashboardComponent.tsx
  src/pages/sinaisVitais/components/medicosConsultasComponent/medicosConsultasComponent.tsx
  src/pages/sinaisVitais/updateSinaisVitais/style.js
  src/pages/sinaisVitais/updateSinaisVitais/updateSinais.tsx
  src/reducers/ConsultasReducer.ts
  src/routes/index.tsx
  src/theme/colors.ts
Due: type-check, eslint, stylelint, spelling

alertas sinais vitais correção history
  src/contexts/sinaisVitaisContext.tsx
  src/pages/sinaisVitais/historySinaisVitais/historySinaisVitais.tsx
Due: type-check, eslint, stylelint, spelling

alertas sinais vitais lottie - layout modal
  src/components/Modais/ListAlertas.tsx
  src/components/Modais/ModalAlertPaciente.tsx
  src/contexts/sinaisVitaisContext.tsx
  src/pages/sinaisVitais/sinaisVitais.tsx
  src/pages/sinaisVitais/updateSinaisVitais/updateSinais.tsx
  src/reducers/ConsultasReducer.ts
Due: type-check, eslint, stylelint, spelling

eslint
  src/components/Cards/CardSimples.tsx
  src/components/Modais/ModalAlertPaciente.tsx
  src/components/Modais/ModalBottom.tsx
  src/components/Modais/ModalCentralizedOptions.tsx
  src/components/Modais/ModalInstagram.tsx
  src/components/Notification/NotificationCentralized.tsx
  src/components/Notification/NotificationMultOptions.tsx
  src/components/buttons/BtnOptions.tsx
  src/components/carrosel/Carousel_Instagram.tsx
  src/components/carrosel/Carousel_text.tsx
  src/components/shimmerPlaceHolder/shimerPlaceHolderMenu.tsx
  src/components/shimmerPlaceHolder/shimmerPaceHolderSNMG.tsx
  src/pages/dashBoard/style.ts
  src/pages/sinaisVitais/components/escalaDorComponent/escalaDorComponent.tsx
  src/pages/sinaisVitais/components/medicosConsultasComponent/medicosConsultasComponent.tsx
  src/pages/sinaisVitais/sinaisVitais.tsx
Due: type-check, eslint, stylelint, spelling

eslint
  src/components/Modais/ModalBottom.tsx
  src/components/Switch/ToggleSwitch.tsx
Due: type-check, eslint, stylelint, spelling

Foi adicionado o modal de alerta alergias/reações nas funçoes de sinais vitais
  src/components/Modais/ModalAlertPaciente.tsx
  src/contexts/sinaisVitaisContext.tsx
  src/pages/sinaisVitais/updateSinaisVitaisEnfermagem/style.js
  src/pages/sinaisVitais/updateSinaisVitaisEnfermagem/updateSinaisVitaisEnfermagem.tsx
  src/reducers/ConsultasReducer.ts
Due: type-check, eslint, stylelint, spelling

Foi adicionado o modal de alerta alergias/reações nas funçoes de sinais vitais
  src/components/Modais/ModalAlertPaciente.tsx
  src/pages/sinaisVitais/updateSinaisVitaisEnfermagem/style.js
Due: type-check, eslint, stylelint, spelling

Foi adicionado o modal de alerta alergias/reações nas funçoes de sinais vitais
  package.json
  src/components/Modais/ModalCentralizedOptions.tsx
  src/contexts/sinaisVitaisContext.tsx
  src/pages/sinaisVitais/historySinaisVitais/historySinaisVitais.tsx
  yarn.lock
Due: type-check, eslint, stylelint, spelling

refactory drawerOpen-routeBottom
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/apppronutrircompany/MainActivity.java
  ios/Podfile.lock
  src/componentes/DrawerOpen.js
  src/components/drawerOpen/DrawerOpen.tsx
  src/contexts/sinaisVitaisContext.tsx
  src/routes/routeBottom.tsx
Due: type-check, eslint, stylelint, spelling

gitHubActions
  .github/workflows/cd.yml
  .github/workflows/notifyActions.yml
Due: none

gitHubActions
  .github/workflows/cd.yml
Due: none

gitHubActions
  .github/workflows/notifyActions.yml
Due: none

Path conditions:
  type-check: any of: *.{ts,tsx}
  eslint: any of: *.{js,ts,jsx,tsx}
  stylelint: any of: *.{js,ts,jsx,tsx}
  spelling: any of: *.{js,ts,jsx,tsx,md}
  markdown-link-check: any of: *.md
