Repository Pronutrir/AppPronutrirCompany: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, eslint, stylelint, spelling, markdown-link-check

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-push:
  parallel: true
  commands:
    test:
      run: yarn test
#    packages-audit:
#      run: yarn audit
      
pre-commit:
  parallel: true
  commands:
    type-check:
      glob: '*.{ts,tsx}'
      run: yarn typecheck
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn lint:eslint:fix {staged_files}
    stylelint:
      glob: '*.{js,ts,jsx,tsx}' # For CSS-in-JS
      run: yarn lint:style {staged_files}
    spelling:
      glob: '*.{js,ts,jsx,tsx,md}'
      run: yarn cspell {staged_files}
    markdown-link-check:
      glob: '*.md'
      run: npx markdown-link-check {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

gitHubActions
  .github/workflows/notifyActions.yml
Due: none

bugfix ios onesignal - init page Evolução
  ios/Podfile.lock
  src/pages/dashBoard/.dashBoard.js.icloud
  src/pages/dashBoard/components/btnDashboardComponent/btnDashboardComponent.tsx
  src/pages/dashBoard/dashBoard.tsx
  src/pages/dashBoard/style.ts
  src/pages/evolucao/evolucaoEnfermagem.tsx
  src/routes/routeDashboard.tsx
Due: type-check, eslint, stylelint, spelling

page Evolução enfermagem
  src/pages/dashBoard/.dashBoard.js.icloud
  src/pages/dashBoard/dashBoard.tsx
  src/pages/evolucao/evolucaoEnfermagem/evolucaoEnfermagem.tsx
  src/routes/routeDashboard.tsx
Due: type-check, eslint, stylelint, spelling

Evolução enfermagem
  android/app/src/main/AndroidManifest.xml
  ios/Podfile.lock
  package.json
  src/components/Cards/cardConsultasGerais.tsx
  src/components/buttons/BtnOptions.tsx
  src/components/drawerOpen/DrawerOpen.tsx
  src/components/searchBarPessoaFisica/searchBarPessoaFisica.tsx
  src/components/searchBarPessoaFisica/style.js
  src/components/selectedDropdown/SelectedDropdown.tsx
  src/pages/dashBoard/dashBoard.tsx
  src/pages/evolucao/components/pessoaFisicaComponent/pessoaFisicaComponent.tsx
  src/pages/evolucao/components/richComponent/richComponent.tsx
  src/pages/evolucao/components/selectedNotaText/selectedNotaText.tsx
  src/pages/evolucao/evolucaoEnfermagem/evolucaoEnfermagem.tsx
  src/pages/evolucao/evolucaoEnfermagem/searchPessoaFisica.tsx
  src/pages/sinaisVitais/updateSinaisVitais/updateSinais.tsx
  src/routes/routeBottom.tsx
  src/routes/routeDashboard.tsx
  src/services/api.js
  yarn.lock
Due: type-check, eslint, stylelint, spelling

Evolução enfermagem
  src/components/selectedDropdown/SelectedDropdown.tsx
  src/components/shimmerPlaceHolder/shimerPlaceHolderSelected.tsx
  src/components/shimmerPlaceHolder/shimerPlaceHolderText.tsx
  src/pages/evolucao/components/richComponent/richComponent.tsx
  src/pages/evolucao/components/selectedNotaText/selectedNotaText.tsx
  src/pages/evolucao/evolucaoEnfermagem/evolucaoEnfermagem.tsx
Due: type-check, eslint, stylelint, spelling

Evolução enfermagem
  android/app/src/main/AndroidManifest.xml
  src/components/selectedDropdown/SelectedDropdown.tsx
  src/contexts/sinaisVitaisContext.tsx
  src/pages/evolucao/components/richComponent/richComponent.tsx
  src/pages/evolucao/components/selectedNotaText/selectedNotaText.tsx
  src/pages/evolucao/evolucaoEnfermagem/evolucaoEnfermagem.tsx
  src/services/api.js
Due: type-check, eslint, stylelint, spelling

sinais vitais enfermagem ajustes opções disable defalut
  src/pages/sinaisVitais/updateSinaisVitaisEnfermagem/updateSinaisVitaisEnfermagem.tsx
Due: type-check, eslint, stylelint, spelling

sinais vitais enfermagem ajustes opções default
  android/app/build.gradle
  src/contexts/auth.tsx
  src/contexts/sinaisVitaisContext.tsx
  src/pages/dashBoard/dashBoard.tsx
  src/services/api.js
Due: type-check, eslint, stylelint, spelling

sinais vitais enfermagem ajustes opções default
  src/contexts/auth.tsx
Due: type-check, eslint, stylelint, spelling

sinais vitais correção check enviados
  src/contexts/sinaisVitaisContext.tsx
  src/hooks/useSinaisVitais.tsx
  src/pages/sinaisVitais/components/checkSinaisVitaisComponent/checkSinaisVitaisComponent.tsx
  src/pages/sinaisVitais/historySinaisVitais/historySinaisVitais.tsx
  src/pages/sinaisVitais/updateSinaisVitais/updateSinais.tsx
  src/pages/sinaisVitais/updateSinaisVitaisEnfermagem/updateSinaisVitaisEnfermagem.tsx
Due: type-check, eslint, stylelint, spelling

sinais vitais adição history sinais vitais geral por paciente
  src/components/Modais/ModalAlertPaciente.tsx
  src/components/buttons/BtnRadius.tsx
  src/hooks/useSinaisVitais.tsx
  src/pages/sinaisVitais/endSinaisVitais.tsx
  src/pages/sinaisVitais/historySinaisVitais/historySinaisVitais.tsx
  src/pages/sinaisVitais/updateSinaisVitais/updateSinais.tsx
  src/routes/routeDashboard.tsx
Due: type-check, eslint, stylelint, spelling

recuperação de senha correção email não estava aparecendo
  src/contexts/auth.tsx
  src/pages/recuperarSenha/recuperarSenha.tsx
  src/pages/recuperarSenha/style.js
  src/pages/recuperarSenha/style.ts
Due: type-check, eslint, stylelint, spelling

logout refactory modal default
  src/components/Notification/NotificationMultOptions.tsx
  src/components/Notification/NotificationSimple.tsx
  src/components/Notification/NotificationsSimples.tsx
  src/components/drawerContent/DrawerContent.tsx
  src/pages/recuperarSenha/recuperarSenha.tsx
  src/pages/recuperarSenha/style.ts
  src/pages/sinaisVitais/components/periodosConsultasComponent/periodosConsultasComponent.tsx
Due: type-check, eslint, stylelint, spelling

refactory postagem instagram - correção usuario sem perfil -
  src/components/carrosel/Carousel_Instagram.tsx
  src/components/drawerContent/DrawerContent.tsx
  src/hooks/useSinaisVitais.tsx
  src/pages/consultarNome/consultarNome.js
  src/pages/sinaisVitais/endSinaisVitais.tsx
  src/reducers/UserReducer.ts
  src/services/api.js
Due: type-check, eslint, stylelint, spelling

ultimos sinais vitais triagem
  src/components/Loading/ActiveIndicator.tsx
  src/hooks/useSinaisVitais.tsx
  src/pages/consultarEmail/consultaEmail.js
  src/pages/sinaisVitais/endSinaisVitais.tsx
  src/services/api.js
Due: type-check, eslint, stylelint, spelling

ultimos sinais vitais triagem/enfermagem
  src/components/checkbox/checkbox.tsx
  src/components/drawerContent/DrawerContent.tsx
  src/pages/evolucao/evolucaoEnfermagem/evolucaoEnfermagem.tsx
  src/pages/sinaisVitais/endSinaisVitais.tsx
  src/pages/sinaisVitais/updateSinaisVitais/updateSinais.tsx
  src/pages/sinaisVitais/updateSinaisVitaisEnfermagem/updateSinaisVitaisEnfermagem.tsx
  src/routes/routeDashboard.tsx
  src/services/api.js
Due: type-check, eslint, stylelint, spelling

ultimos sinais vitais triagem/enfermagem adicionado historico por usuário adição de perfis no inicio do app
  src/components/Modais/ModalCentralize.tsx
  src/components/buttons/BtnRadius.tsx
  src/components/drawerContent/DrawerContent.tsx
  src/contexts/auth.tsx
  src/pages/evolucao/evolucaoEnfermagem/evolucaoEnfermagem.tsx
  src/pages/perfil/credenciais/credenciais.js
  src/pages/sinaisVitais/components/cardConsultasComponent/cardConsultasComponent.tsx
  src/pages/sinaisVitais/components/checkPVSinaisVitaisComponent/checkPVSinaisVitaisComponent.tsx
  src/pages/sinaisVitais/endSinaisVitais.tsx
  src/reducers/ConsultasReducer.ts
  src/reducers/UserReducer.ts
  src/services/api.js
Due: type-check, eslint, stylelint, spelling

ultimos sinais vitais triagem/enfermagem adicionado historico por usuário adição de perfis no inicio do app
  src/services/api.js
Due: eslint, stylelint, spelling

ultimos sinais vitais triagem/enfermagem adicionado historico por usuário adição de perfis no inicio do app
  src/contexts/sinaisVitaisContext.tsx
Due: type-check, eslint, stylelint, spelling

evolução enfermagem rich-editor
  src/hooks/useEvolucao.tsx
  src/pages/evolucao/components/richComponent/richComponent.tsx
  src/pages/evolucao/evolucaoEnfermagem/evolucaoEnfermagem.tsx
  src/services/api.js
Due: type-check, eslint, stylelint, spelling

history evolução
  src/components/searchBarPessoaFisica/searchBarPessoaFisica.tsx
  src/contexts/auth.tsx
  src/hooks/useEvolucao.tsx
  src/pages/dashBoard/dashBoard.tsx
  src/pages/evolucao/evolucaoEnfermagem/evolucaoEnfermagem.tsx
  src/pages/evolucao/evolucaoEnfermagem/historyEvolucao.tsx
  src/pages/evolucao/evolucaoEnfermagem/searchPessoaFisica.tsx
  src/routes/routeDashboard.tsx
  src/services/api.js
  src/services/apiAuth.ts
Due: type-check, eslint, stylelint, spelling

fixbug refreshToken - evolução enfermagem
  android/gradle/wrapper/gradle-wrapper.properties
  ios/Podfile.lock
  package.json
  src/contexts/auth.tsx
  src/contexts/sinaisVitaisContext.tsx
  src/credenciais.js
  src/hooks/useAgendaConsultas.tsx
  src/pages/consultaCPF/consultaCpf.js
  src/pages/dashBoard/dashBoard.tsx
  src/pages/evolucao/evolucaoEnfermagem/historyEvolucao.tsx
  src/pages/evolucao/evolucaoEnfermagem/indexEvolucao.tsx
  src/routes/routeDashboard.tsx
  src/services/api.js
  src/services/apiAuth.ts
  src/services/refreshToken.ts
  src/utils.ts
  yarn.lock
Due: type-check, eslint, stylelint, spelling

add theme default Sinais vitais - evolução - add - servidos api serviceapppronutrir.com.br
  src/components/Cards/cardConsultasGerais.tsx
  src/components/buttons/BtnFilter.tsx
  src/components/buttons/BtnOptionsFilter.tsx
  src/components/menuPopUp/menuPopUp.tsx
  src/components/searchBarPessoaFisica/searchBarPessoaFisica.tsx
  src/components/searchBarPessoaFisica/style.js
  src/components/searchBarPessoaFisica/style.ts
  src/components/selectedDropdown/SelectedDropdown.tsx
  src/contexts/auth.tsx
  src/pages/consultaCPF/consultaCpf.js
  src/pages/evolucao/components/pessoaFisicaComponent/pessoaFisicaComponent.tsx
  src/pages/evolucao/components/selectedNotaText/selectedNotaText.tsx
  src/pages/evolucao/evolucaoEnfermagem/evolucaoEnfermagem.tsx
  src/pages/evolucao/evolucaoEnfermagem/historyEvolucao.tsx
  src/pages/evolucao/evolucaoEnfermagem/indexEvolucao.tsx
  src/pages/evolucao/evolucaoEnfermagem/searchPessoaFisica.tsx
  src/pages/sinaisVitais/sinaisVitais.tsx
  src/pages/sinaisVitais/style.js
  src/pages/sinaisVitais/style.ts
  src/services/api.js
  src/services/apiAuth.ts
  src/theme/colors.ts
Due: type-check, eslint, stylelint, spelling

add theme default global => componentes e pages sinais vitais e evolução
  src/components/IncrementDecrement.tsx
  src/components/Loading/Loading.tsx
  src/components/Modais/ModalBottomInfor.tsx
  src/components/Modais/ModalCentralize.tsx
  src/components/Modais/ModalCentralized.js
  src/components/Notification.tsx
  src/components/Switch/ToggleSwitch.tsx
  src/components/TouchableShowHide/TouchableShowHide.tsx
  src/components/buttons/BtnCentered.tsx
  src/components/buttons/BtnFilter.tsx
  src/components/buttons/BtnOptionsFilter.tsx
  src/components/buttons/BtnRetangular.tsx
  src/components/buttons/Btnprosseguir.tsx
  src/components/header/HeaderExterno.tsx
  src/components/header/HeaderPerson.tsx
  src/contexts/sinaisVitaisContext.tsx
  src/pages/sinaisVitais/components/cardConsultasComponent/cardConsultasComponent.tsx
  src/pages/sinaisVitais/components/cardConsultasGerais/cardConsultasGerais.tsx
  src/pages/sinaisVitais/components/cardConsultasQTComponent/cardConsultasQTComponent.tsx
  src/pages/sinaisVitais/components/checkPVSinaisVitaisComponent/checkPVSinaisVitaisComponent.tsx
  src/pages/sinaisVitais/components/checkSinaisVitaisComponent/checkSinaisVitaisComponent.tsx
  src/pages/sinaisVitais/components/especialidadeConsultasComponent/especialidadeConsultasComponent.tsx
  src/pages/sinaisVitais/components/medicosConsultasComponent/medicosConsultasComponent.tsx
  src/pages/sinaisVitais/endSinaisVitais.tsx
  src/pages/sinaisVitais/historySinaisVitais/historySinaisVitais.tsx
  src/pages/sinaisVitais/oncologiaSinaisVitais/oncologiaSinaisVitais.tsx
  src/pages/sinaisVitais/oncologiaSinaisVitais/style.js
  src/pages/sinaisVitais/oncologiaSinaisVitais/style.ts
  src/pages/sinaisVitais/sinaisVItaisGerais/sinaisVitaisGerais.tsx
  src/pages/sinaisVitais/sinaisVItaisGerais/style.js
  src/pages/sinaisVitais/sinaisVItaisGerais/style.ts
  src/pages/sinaisVitais/updateSinaisVitais/style.js
  src/pages/sinaisVitais/updateSinaisVitais/style.ts
  src/pages/sinaisVitais/updateSinaisVitais/updateSinais.tsx
  src/pages/sinaisVitais/updateSinaisVitaisEnfermagem/style.js
  src/pages/sinaisVitais/updateSinaisVitaisEnfermagem/style.ts
  src/pages/sinaisVitais/updateSinaisVitaisEnfermagem/updateSinaisVitaisEnfermagem.tsx
Due: type-check, eslint, stylelint, spelling

page evolução enfermagem update
  src/pages/evolucao/evolucaoEnfermagem/historyEvolucao.tsx
  src/pages/evolucao/evolucaoEnfermagem/updateEvolucaoEnfermagem.tsx
  src/pages/sinaisVitais/endSinaisVitais.tsx
  src/routes/routeDashboard.tsx
Due: type-check, eslint, stylelint, spelling

versionamento react-native-version
  package.json
  yarn.lock
Due: none

versionamento react-native-version
  package.json
Due: none

versionamento react-native-version
  .github/workflows/cd.yml
  yarn.lock
Due: none

v1.7.2
  android/app/build.gradle
  ios/AppPronutrirCompany/Info.plist
  ios/AppPronutrirCompanyTests/Info.plist
  ios/OneSignalNotificationServiceExtension/Info.plist
  package.json
Due: none

versionamento react-native-version
  .github/workflows/cd.yml
  package.json
Due: none

v1.7.3
  package.json
Due: none

versionamento react-native-version
  .github/workflows/cd.yml
  android/app/build.gradle
  android/app/src/main/java/com/apppronutrircompany/MainApplication.java
  android/settings.gradle
  ios/AppPronutrirCompany/Info.plist
  ios/AppPronutrirCompanyTests/Info.plist
  ios/OneSignalNotificationServiceExtension/Info.plist
  ios/Podfile
  ios/Podfile.lock
  package.json
  src/components/drawerContent/DrawerContent.tsx
  yarn.lock
Due: type-check, eslint, stylelint, spelling

versionamento react-native-version
  src/components/drawerContent/DrawerContent.tsx
Due: type-check, eslint, stylelint, spelling

versionamento react-native-version
  .github/workflows/cd.yml
Due: none

notificações workflow telegram
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/notifyActions.yml
  .github/workflows/telegram.yml
Due: none

notificações workflow telegram
  src/services/api.js
Due: eslint, stylelint, spelling

notificações workflow telegram
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  src/services/api.js
Due: eslint, stylelint, spelling

notificações workflow telegram
  .github/workflows/notifyActions.yml
Due: none

notificações workflow telegram status error
  .github/workflows/ci.yml
  .github/workflows/statusMessage.yml
Due: none
