Repository Pronutrir/AppPronutrirCompany: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, eslint, stylelint, spelling, markdown-link-check

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-push:
  parallel: true
  commands:
    test:
      run: yarn test
#    packages-audit:
#      run: yarn audit
      
pre-commit:
  parallel: true
  commands:
    type-check:
      glob: '*.{ts,tsx}'
      run: yarn typecheck
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn lint:eslint:fix {staged_files}
    stylelint:
      glob: '*.{js,ts,jsx,tsx}' # For CSS-in-JS
      run: yarn lint:style {staged_files}
    spelling:
      glob: '*.{js,ts,jsx,tsx,md}'
      run: yarn cspell {staged_files}
    markdown-link-check:
      glob: '*.md'
      run: npx markdown-link-check {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: "application.rb|routes.rb"
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

ajustes github actions telegram message
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/notifyActions.yml
Due: none

evolução parenteral evolução
  ios/AppPronutrirCompany.xcodeproj/project.pbxproj
  ios/AppPronutrirCompany.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  ios/AppPronutrirCompany.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  ios/Podfile.lock
  src/contexts/sinaisVitaisContext.tsx
  src/hooks/useEvolucao.tsx
  src/hooks/useValidationAutorize.tsx
  src/pages/evolucao/components/pessoaFisicaComponent/pessoaFisicaComponent.tsx
  src/pages/evolucao/components/selectedNotaText/selectedNotaText.tsx
  src/pages/evolucao/evolucaoEnfermagem/evolucaoEnfermagem.tsx
  src/pages/evolucao/evolucaoEnfermagem/historyEvolucao.tsx
  src/pages/evolucao/evolucaoEnfermagem/indexEvolucao.tsx
  src/pages/evolucao/evolucaoEnfermagem/updateEvolucaoEnfermagem.tsx
  src/routes/routeDashboard.tsx
Due: type-check, eslint, stylelint, spelling

telegram notificações
  .github/workflows/telegram.yml
Due: none

page evolução enfermagem history
  src/hooks/useEvolucao.tsx
  src/pages/evolucao/components/checkEvolucaoComponent/checkEvolucaoComponent.tsx
  src/pages/evolucao/evolucaoEnfermagem/historyEvolucao.tsx
  src/pages/sinaisVitais/components/cardConsultasGerais/cardConsultasGerais.tsx
Due: type-check, eslint, stylelint, spelling

page evolução enfermagem history update
  src/components/selectedDropdown/SelectedDropdown.tsx
  src/hooks/useEvolucao.tsx
  src/pages/evolucao/components/checkEvolucaoComponent/checkEvolucaoComponent.tsx
  src/pages/evolucao/components/selectedNotaText/selectedNotaText.tsx
  src/pages/evolucao/evolucaoEnfermagem/historyEvolucao.tsx
  src/pages/evolucao/evolucaoEnfermagem/updateEvolucaoEnfermagem.tsx
  src/routes/routeDashboard.tsx
Due: type-check, eslint, stylelint, spelling

Update telegram
  .github/workflows/telegram.yml
Due: none

perfomace firebase - telegram develop
  .github/workflows/telegram.yml
  android/app/build.gradle
  android/build.gradle
  ios/AppPronutrirCompany.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  ios/Podfile.lock
  src/hooks/useEvolucao.tsx
  src/pages/evolucao/evolucaoEnfermagem/updateEvolucaoEnfermagem.tsx
Due: type-check, eslint, stylelint, spelling

page evolução history update correção modal ios
  src/components/selectedDropdown/SelectedDropdown.tsx
  src/hooks/useEvolucao.tsx
  src/hooks/useServerHour.tsx
  src/pages/evolucao/evolucaoEnfermagem/evolucaoEnfermagem.tsx
  src/pages/evolucao/evolucaoEnfermagem/historyEvolucao.tsx
  src/pages/evolucao/evolucaoEnfermagem/updateEvolucaoEnfermagem.tsx
  src/pages/sinaisVitais/historySinaisVitais/historySinaisVitais.tsx
Due: type-check, eslint, stylelint, spelling

page evolução history informativo liberação 24h
  src/assets/svg/information.svg
  src/components/Modais/ModalBottomInfor.tsx
  src/components/Notification/NotificationInfor.tsx
  src/components/buttons/BtnOptions.tsx
  src/pages/evolucao/components/checkEvolucaoComponent/checkEvolucaoComponent.tsx
  src/pages/evolucao/evolucaoEnfermagem/historyEvolucao.tsx
Due: type-check, eslint, stylelint, spelling

page evolução history informativo liberação 24h
  src/pages/evolucao/evolucaoEnfermagem/historyEvolucao.tsx
Due: type-check, eslint, stylelint, spelling

seleção geral do estabelecimento da app
  src/components/drawerContent/DrawerContent.tsx
  src/components/selectedDropdown/SelectedDropdown.tsx
  src/contexts/auth.tsx
  src/hooks/useEstabelecimentos.tsx
  src/pages/dashBoard/dashBoard.tsx
  src/pages/dashBoard/style.ts
  src/reducers/UserReducer.ts
  src/routes/index.tsx
  src/utils.ts
Due: type-check, eslint, stylelint, spelling

filtro consulta-agenda por estabelecimento react-query
  ios/Podfile.lock
  package.json
  src/contexts/auth.tsx
  src/contexts/sinaisVitaisContext.tsx
  src/hooks/useAgendaConsultas.tsx
  src/index.tsx
  src/pages/dashBoard/dashBoard.tsx
  src/pages/sinaisVitais/components/cardConsultasComponent/cardConsultasComponent.tsx
  src/pages/sinaisVitais/components/especialidadeConsultasComponent/especialidadeConsultasComponent.tsx
  src/pages/sinaisVitais/components/medicosConsultasComponent/medicosConsultasComponent.tsx
  src/pages/sinaisVitais/consultasSinaisVitais/consultasSinaisVitais.tsx
  yarn.lock
Due: type-check, eslint, stylelint, spelling

filtro evolução-enfermagem por estabelecimento react-query
  App.js
  src/components/Cards/cardConsultasGerais.tsx
  src/contexts/sinaisVitaisContext.tsx
  src/hooks/useAgendaQt.tsx
  src/pages/consultaCPF/consultaCpf.js
  src/pages/evolucao/components/richComponent/richComponent.tsx
  src/pages/home/home.js
  src/pages/sinaisVitais/components/cardConsultasGerais/cardConsultasGerais.tsx
  src/pages/sinaisVitais/components/cardConsultasQTComponent/cardConsultasQTComponent.tsx
  src/pages/sinaisVitais/consultasSinaisVitais/consultasSinaisVitais.tsx
  src/pages/sinaisVitais/historySinaisVitais/historySinaisVitais.tsx
  src/pages/sinaisVitais/oncologiaSinaisVitais/oncologiaSinaisVitais.tsx
  src/pages/sinaisVitais/sinaisVitais.tsx
  src/services/api.js
Due: type-check, eslint, stylelint, spelling

performace react query
  src/contexts/notificationGlobalContext.tsx
  src/hooks/useAgendaConsultas.tsx
  src/hooks/useAgendaQt.tsx
  src/hooks/useEstabelecimentos.tsx
  src/hooks/useEvolucao.tsx
  src/hooks/useSinaisVitais.tsx
  src/index.tsx
  src/pages/dashBoard/dashBoard.tsx
Due: type-check, eslint, stylelint, spelling

performace react query
  __tests__/App-test.js
Due: eslint, stylelint, spelling

performace react query
  src/pages/sinaisVitais/components/cardConsultasComponent/cardConsultasComponent.tsx
  src/pages/sinaisVitais/consultasSinaisVitais/consultasSinaisVitais.tsx
Due: type-check, eslint, stylelint, spelling

v1.7.2
  package.json
Due: none

v1.7.3
  package.json
Due: none

v1.7.4-0
  android/app/build.gradle
  ios/AppPronutrirCompany/Info.plist
  ios/AppPronutrirCompanyTests/Info.plist
  ios/OneSignalNotificationServiceExtension/Info.plist
  package.json
Due: none

v1.7.4
  android/app/build.gradle
  ios/AppPronutrirCompany/Info.plist
  ios/AppPronutrirCompanyTests/Info.plist
  ios/OneSignalNotificationServiceExtension/Info.plist
  package.json
Due: none

versionamento automated react-native-version
  package.json
Due: none

page acompanhante
  package.json
  src/components/menuPopUp/menuPopUp.tsx
  src/pages/sinaisVitais/acompanhateSinaisVitais/acompanhateSinaisVitais.tsx
  src/pages/sinaisVitais/components/pessoaFisicaComponent/pessoaFisicaComponent.tsx
  src/pages/sinaisVitais/updateSinaisVitais/updateSinais.tsx
  src/routes/routeDashboard.tsx
  yarn.lock
Due: type-check, eslint, stylelint, spelling

page acompanhante validações selectDropDown
  package.json
  src/components/checkbox/checkbox.tsx
  src/contexts/auth.tsx
  src/hooks/useEstabelecimentos.tsx
  src/pages/dashBoard/dashBoard.tsx
  src/pages/sinaisVitais/acompanhateSinaisVitais/acompanhateSinaisVitais.tsx
  src/reducers/UserReducer.ts
  src/services/validacoes.js
  src/utils.ts
  yarn.lock
Due: type-check, eslint, stylelint, spelling

modal observações incluído sinais vitais
  src/components/drawerContent/DrawerContent.tsx
  src/contexts/sinaisVitaisContext.tsx
  src/hooks/useAgendaConsultas.tsx
  src/hooks/useFamiliar.tsx
  src/hooks/useSinaisVitais.tsx
  src/pages/sinaisVitais/acompanhateSinaisVitais/acompanhateSinaisVitais.tsx
  src/pages/sinaisVitais/components/cardObservacao/cardlObservacao.tsx
  src/pages/sinaisVitais/updateSinaisVitais/updateSinais.tsx
  src/reducers/ConsultasReducer.ts
  src/routes/routeDashboard.tsx
  src/services/api.js
Due: type-check, eslint, stylelint, spelling

page acompanhante post-get/acompanhante
  src/components/shimmerPlaceHolder/shimerPlaceHolderAcompanhante.tsx
  src/hooks/useFamiliar.tsx
  src/pages/dashBoard/dashBoard.tsx
  src/pages/sinaisVitais/acompanhateSinaisVitais/acompanhateSinaisVitais.tsx
  src/pages/sinaisVitais/addAcompanhanteSinaisVitais/addAcompanhanteSinaisVitais.tsx
  src/routes/routeDashboard.tsx
  src/services/api.js
Due: type-check, eslint, stylelint, spelling

page sinais vitais alerta variação de peso
  src/components/checkbox/checkbox.tsx
  src/components/menuPopUp/menuPopUp.tsx
  src/components/selectedDropdown/SelectedDropdown.tsx
  src/hooks/useSinaisVitais.tsx
  src/pages/sinaisVitais/acompanhateSinaisVitais/acompanhateSinaisVitais.tsx
  src/pages/sinaisVitais/addAcompanhanteSinaisVitais/addAcompanhanteSinaisVitais.tsx
  src/pages/sinaisVitais/components/cardAlertaPesoPaciente/cardAlertaPesoPaciente.tsx
  src/pages/sinaisVitais/updateSinaisVitais/style.ts
  src/pages/sinaisVitais/updateSinaisVitais/updateSinais.tsx
Due: type-check, eslint, stylelint, spelling

page acompanhante validação partena avô/avó
  src/components/Modais/ModalCentralizedOptions.tsx
  src/components/Notification/NotificationAlert.tsx
  src/contexts/auth.tsx
  src/contexts/sinaisVitaisContext.tsx
  src/hooks/useAgendaConsultas.tsx
  src/hooks/useFamiliar.tsx
  src/pages/sinaisVitais/acompanhateSinaisVitais/acompanhateSinaisVitais.tsx
  src/pages/sinaisVitais/addAcompanhanteSinaisVitais/addAcompanhanteSinaisVitais.tsx
  src/pages/sinaisVitais/components/cardConsultasComponent/cardConsultasComponent.tsx
  src/pages/sinaisVitais/components/cardConsultasQTComponent/cardConsultasQTComponent.tsx
Due: type-check, eslint, stylelint, spelling

v1.7.5
  android/app/build.gradle
  ios/AppPronutrirCompany/Info.plist
  ios/AppPronutrirCompanyTests/Info.plist
  ios/OneSignalNotificationServiceExtension/Info.plist
  package.json
Due: none

ajuste acompanhate rg/cpf
  src/pages/sinaisVitais/acompanhateSinaisVitais/acompanhateSinaisVitais.tsx
  src/pages/sinaisVitais/addAcompanhanteSinaisVitais/addAcompanhanteSinaisVitais.tsx
  src/services/api.js
Due: type-check, eslint, stylelint, spelling

v1.7.6
  android/app/build.gradle
  ios/AppPronutrirCompany/Info.plist
  ios/AppPronutrirCompanyTests/Info.plist
  ios/OneSignalNotificationServiceExtension/Info.plist
  package.json
Due: none

ajuste acompanhate forms
  src/pages/sinaisVitais/addAcompanhanteSinaisVitais/addAcompanhanteSinaisVitais.tsx
Due: type-check, eslint, stylelint, spelling

ajustes validações forms
  src/pages/sinaisVitais/addAcompanhanteSinaisVitais/addAcompanhanteSinaisVitais.tsx
Due: type-check, eslint, stylelint, spelling

ajustes upload sinais vitais observações
  src/contexts/sinaisVitaisContext.tsx
  src/hooks/useSinaisVitais.tsx
  src/pages/sinaisVitais/historySinaisVitais/historySinaisVitais.tsx
  src/pages/sinaisVitais/updateSinaisVitais/updateSinais.tsx
  src/pages/sinaisVitais/updateSinaisVitaisEnfermagem/updateSinaisVitaisEnfermagem.tsx
  src/services/api.js
Due: type-check, eslint, stylelint, spelling

v1.7.7
  android/app/build.gradle
  ios/AppPronutrirCompany/Info.plist
  ios/AppPronutrirCompanyTests/Info.plist
  ios/OneSignalNotificationServiceExtension/Info.plist
  package.json
Due: none

update firebase app distribution
  .github/workflows/cd.yml
Due: none

bugFix input document cpf/rg
  src/pages/sinaisVitais/addAcompanhanteSinaisVitais/addAcompanhanteSinaisVitais.tsx
Due: type-check, eslint, stylelint, spelling

alteração produção
  src/services/api.js
Due: eslint, stylelint, spelling

alteração produção
  package-lock.json
  package.json
  src/components/drawerContent/DrawerContent.tsx
  yarn.lock
Due: type-check, eslint, stylelint, spelling

refactory
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/notifyActions.yml
  .github/workflows/statusMessage.yml
  android/app/src/main/java/com/apppronutrircompany/MainApplication.java
  android/settings.gradle
  ios/AppPronutrirCompany.xcodeproj/project.pbxproj
  ios/Podfile
  ios/Podfile.lock
  package-lock.json
  package.json
  src/components/drawerContent/DrawerContent.tsx
  src/pages/evolucao/evolucaoEnfermagem.tsx
  src/services/api.js
  yarn.lock
Due: type-check, eslint, stylelint, spelling

firebase distribution update
  .github/workflows/cd.yml
Due: none
